bildtouchi-v2.json
[{"id":"e454092b.b429c8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"56ef037.71bf7fc","type":"inject","z":"e454092b.b429c8","name":"Touchi","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":260,"y":360,"wires":[["67c9aecb.3091f"]]},{"id":"67c9aecb.3091f","type":"jimp-image","z":"e454092b.b429c8","name":"Hamsti","data":"https://www.zooplus.de/magazin/content/uploads/2018/08/hamster-rasseportrait.jpg","dataType":"str","ret":"img","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":470,"y":360,"wires":[["f1fa17b9.3b48b8"]]},{"id":"f1fa17b9.3b48b8","type":"image viewer","z":"e454092b.b429c8","name":"","width":"500","data":"payload","dataType":"msg","active":true,"x":710,"y":360,"wires":[[]]}]